:root {
  --base-font-family: Titillium, sans-serif;
  --base-font-size: 18px;
  --base-background-color: #EDEDED;
  --base-color: white;
  --base-font-color: #1A1919;
  --base-max-width: 600px;

  --navbar-size: 120px;
}

